@media screen and (min-width:1350px) and ( max-width:3500px) {
html {
  margin: 0 auto;
}


.openbtn span {
/* position: static; */
position: relative;
/* display: inline-block; */
display: block;
transition: all .4s;
height: 3px;
width: 100%;
left: 0px;
}
.openbtn span:nth-of-type(1) {
top:0px;
}
.openbtn span:nth-of-type(2) {
top:5px;
}
.openbtn span:nth-of-type(3) {
top:0px;
}

.openbtn {
/* position: static; */
position: relative;
top:0px;
right: 0px;
width: 30px;
height:20px;
}

#g-nav {
  max-width: none;
}

}


/* タブレットデザイン */
@media screen and (max-width: 960px) {
  #top {
    padding-bottom: 98px;
  }
  
  #top li {
    width: 47%;
  }

.abouts {
  padding-bottom: 95px;
  /* width: 100%; */
}

footer {
  display: block;
  padding: 0 50px 25px 40px;
}

footer p {
  left: 0;
}

/* company css */
.main {
  width: 90%;
}

.prodact-text dt {
  float: left;
}

dt {
  float: none;
}

.border dt {
  padding-bottom: 10px;
}

.border-a dt {
  height: 30px;
}


.map {
  width: 100%;
  padding-bottom: 55px;
}

/* item css */
.item {
  width: 100%;
  /* padding-right: 40px; */
}

.prodacts {
  display: block;
  padding-left: 0px;
}

.prodact-item {
  width: 100%;
  margin-right: 0%;
}

.prodact-item img {
  width: 100%;
}

.prodact-text {
  margin-top: 30px;
}

#back-top {
  margin: 57px 0 100px 0;
}

/* about css */


}

@media screen and (max-width: 800px) {
  .item {
    padding-right: 40px;
  }
}


@media screen and (max-width: 600px) {
  .abouts {
    width: 100%;
  }

  .main {
    max-width: none;
    width: 93%;
  }

  .border {
    min-width: auto;
  }

  .map {
    min-width: auto;
  }
}


/* スマホ向けデザイン */
@media screen and (max-width: 520px) {

  .namber ul {
    width: 100%;
    
  }

  .namuber ul li {
    padding: 0;
  }

  .abouts {
    width: 100%;
  }

.main {
  width: 92%;
}


  .map {
    width: 100%;
  }




}