*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 25px 50px 25px 40px;
  justify-content: space-between;
  /* position: fixed; */
  /* height: 50px; */
  width: 100%;
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  background-color: white;
}

header a {
 text-decoration: none; 
 color: black;
}

header a:hover {
  opacity: .6;
  transition: 0.7s;
}

header h1 {
  font-size: 19.5px; 
}

.header-click {
  display: none;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
top:0;
  left: -120%;
width:100%;
  height: 100vh;/*ナビの高さ*/
/* background:#999; */
background: rgba(5, 0, 0, 0.76);

  /*動き*/
transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:15%;
  left:10%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center;
}

#g-nav li a{
color: white;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
position:fixed;
z-index: 9999;/*ボタンを最前面に*/
top:20px;
right: 30px;
cursor: pointer;
width: 50px;
height:50px;
}

/*×に変化*/	
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: black;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}


/* main {
  width: 100%;
  margin: 0 50px;
} */

#top {
  width: 100%;
  padding: 50px 40px 120px 40px;
}


#top ul {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#top li {
  width: 23%;
  list-style: none;
  margin-top: 30px;
  /* margin: 10px auto; */
  text-align: center;
}

#top img {
  width: 100%;
  /* height: 79%; */
  object-fit: cover;
}


#top a {
 text-decoration: none;
 color: black;
 font-size: 12px;
}

#top p {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
}

#more {
  width: 100%;
  text-align:center;
  padding-top: 35px;
}

#more > a {
  font-size: 14px;
}

#more > a:hover {
color:rgba(0, 0, 0, 0.651)
}

main #top ul #view ul {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

#namuber {
  width: 100%;
  display: flex;
  justify-content: center;
}

#namuber ul li {
  padding: 0 17px 0 17px;
  margin-top: 25px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px 18px 40px;
}

footer ul {
  display: flex;
}

footer  li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
  margin-right: 30px;
  font-size: 12px;
}

footer p {
  font-size: 10px;
  position: relative;
  top: 5px;
  left: 5px;
}


/* Products css */
#top h2 {
 font-size: 14px;
 font-weight: 400;
 padding-top: 70px;
 padding-bottom: 0;
}



/* about css */
.abouts {
  width: 680px;
  padding: 100px 40px 120px 40px;
}

.abouts h1 {
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.abouts p {
  font-size: 14px;
  line-height: 26.5px;
  letter-spacing: 0.1px;
  padding-bottom: 30px;
}


/* company css */
.main {
  /* width: 50%; */
  max-width: 600px;
  padding: 100px 0px 40px 40px;
}

main h1 {
  font-size: 14px;
  padding-top:20px;
  padding-bottom: 30px;
  /* margin-bottom: 50px; */
  font-weight: 400;
  /* margin-left: 30px; */
}

dt {
  float: left;
  /* width:20%; */
}

dt::after {
  content: "";
}

.border {
  min-width: 600px;
  border-bottom: solid;
  border-color:rgba(0, 0, 0, 0.288);
  border-width: 1px;
  margin: 10px 0 10px 0;
  padding: 10px 0 20px 10px;
  font-size: 14px;
  color:rgba(0, 0, 0, 0.822);
}

.border dt {
  width: 180px;
}

.border-a {
  font-size: 14px;
  width: 100%;
  margin: 10px 20px 0 0;
  padding: 10px 10px 0 10px;
  color:rgba(0, 0, 0, 0.822);
}

.border-a dt {
  width: 180px;
  height: 60px;
}

.map {
  /* padding: 0 20px 118px 40px; */
  padding: 40px 0 78px 0;
  filter: grayscale();
  
  /* width: 100%; */
  min-width: 600px;
}

.map iframe {
  height: 300px;
  /* width: 100%;
  min-width: 600px; */
}

/* item css */
.item {
  max-width: 840px;
  padding: 100px 0 0 40px;
}

.prodacts {
  display: flex;
  font-size: 13.5px;
  color:rgba(0, 0, 0, 0.822)
}

.prodact-item {
  /* width: 2200px; */
  margin-right: 8%;
  /* width: 50%; */
}

.prodact-item img {
  width: 400px;
  /* height: 100%; */
  object-fit: cover;
}

.prodact-text p {
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.prodact-text dt {
  width: 30%;
  letter-spacing: 0.5px;
}

.prodact-text  dd {
  font-size: 14px;
}

#back-top {
  width: 100%;
  text-align: center;
  /* margin: 56px 0 120px 27.5%; */
  margin: 56px 0 120px 0;
}

#back-top a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
  font-size: 14px; 
}